[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "black ."
format-check = "black . --check"
lint = "pylint --rcfile=.pylintrc n1/ n2/ n3/ n4/"
lint-report = "pylint --rcfile=.pylintrc --report=y n1/ n2/ n3/ n4/"

[packages]
pandas = "*"
numpy = "*"
ipykernel = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
